<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ifyads - Smart Link Shortener</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/summa/logo.jpeg" >
    <link rel="stylesheet" href="/static/link.css">
</head>
<body>

  <div class="container">

    <header>
      <h1>Ifyads</h1>
      <p>Shorten your links ease!</p>
    </header>
    <main>
      <form action="/linkshortener" method="post">
        <div class="input-container">
          <label for="long_url">Enter your long URL:</label>
          <input type="text" name="long_url" id="long_url" placeholder="Paste your long URL here">
        </div>
        <button type="submit">Shorten</button>
      </form>


      {% if short_url %}
      <center>
        
      <p class="url" id="title">Your shortened URL</p>
      <p class="url" id="link"> {{ short_url }} </p>
      
      <button id="copyButton">Copy Text</button>

    </center>
  
      <script>
          const copyButton = document.getElementById('copyButton');
          const h1Element = document.getElementById('link');
      
          copyButton.addEventListener('click', function() {
            const textToCopy = h1Element.textContent;
            navigator.clipboard.writeText(textToCopy)
              .then(() => {
                alert('Text copied to clipboard!');
              })
              .catch(err => {
                alert('Failed to copy text:', err);
              });
          });
        </script>
      {% endif %}

    </main>



  </div>
</body>
</html>